html,
body {
  padding: 0 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.basic-flex-container {
  display: flex;
  align-items: center;
}

.basic-flex-container,
.flex-justify-content-space-between {
  justify-content: space-between;
}

div.card-container {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
}

div.card-container > div > h2 {
  margin: 0;
}

div.card-container > div:not(:last-of-type) {
  margin-bottom: 16px;
}

.assignment-rollup {
  margin-bottom: 16px;
}

.assignment-missed {
  font-weight: 500;
  padding: 6px 8px;
  font-size: 0.875rem;
  line-height: 1.75;
  color: rgb(177, 177, 177);
  position: absolute;
  right: 8px;
  bottom: 8px;
}
button.assignment-submit-button {
  position: absolute;
  right: 8px;
  bottom: 8px;
}
